.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0 0 0 30px;
}

.movieRow-listarea {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 30px;
    white-space: nowrap;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.movieRow-listarea::-webkit-scrollbar {
    display: none;
}

.movieRow-list {
    display: inline-block;
    transition: all ease 0.5s;
}

.movieRow-item{
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieRow-item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieRow-item img:hover {
    transform: scale(1);
}

.movieRow-left, 
.movieRow-right {
    position: absolute;
    width: 40px;    
    height: 225px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movieRow-left img,
.movieRow-right img {
    width: 30px;
}

.movieRow-left img {
    rotate: -55deg;
}

.movieRow-right img {
    rotate: 125deg
}

.movieRow-left {
    left: 0;
}

.movieRow-right {
    right: 0;
}

.movieRow:hover .movieRow-left,
.movieRow:hover .movieRow-right {
    opacity: 1;
}